
.icon-bravura {
  font-family: 'Bravura'!important;
  font-size: 24px;
  position: absolute;
  top: calc(50% - 8px);
  pointer-events: none;
}
.oversize .icon-bravura {
  font-size: 16px;
  left: 4px;
}
/* not in file */
.icon-note:before {content: "\2669";}
.icon-grace-note:before {content: "\e562";}
.icon-grace-note-strike:before {content: "\e560";}

.icon-bracketTop:before {content: "\e003";}
.icon-bracketBottom:before {content: "\e004";}
.icon-barlineTick:before {content: "\e039";}
.icon-breathMarkTick:before {content: "\e4cf";}
.icon-segno:before {content: "\e047";}
.icon-coda:before {content: "\e048";}
.icon-gClef:before {content: "\e050";}
.icon-cClef:before {content: "\e05c";}
.icon-fClef:before {content: "\e062";}
.icon-unpitchedPercussionClef1:before {content: "\e069";}
.icon-6stringTabClef:before {content: "\e06d";}
.icon-timeSig0:before {content: "\e080";}
.icon-timeSig1:before {content: "\e081";}
.icon-timeSig2:before {content: "\e082";}
.icon-timeSig3:before {content: "\e083";}
.icon-timeSig4:before {content: "\e084";}
.icon-timeSig5:before {content: "\e085";}
.icon-timeSig6:before {content: "\e086";}
.icon-timeSig7:before {content: "\e087";}
.icon-timeSig8:before {content: "\e088";}
.icon-timeSig9:before {content: "\e089";}
.icon-timeSigCommon:before {content: "\e08a";}
.icon-timeSigCutCommon:before {content: "\e08b";}
.icon-timeSigPlus:before {content: "\e08c";}
.icon-timeSigPlusSmall:before {content: "\e08d";}
.icon-timeSigMinus:before {content: "\e090";}
.icon-timeSigParensRight:before {content: "\e095";}
.icon-timeSigParensRightSmall:before {content: "\e093";}
.icon-timeSigParensLeft:before {content: "\e094";}
.icon-timeSigParensLeftSmall:before {content: "\e092";}
.icon-noteheadDoubleWhole:before {content: "\e0a0";}
.icon-noteheadWhole:before {content: "\e0a2";}
.icon-noteheadHalf:before {content: "\e0a3";}
.icon-noteheadBlack:before {content: "\e0a4";}
.icon-noteheadXDoubleWhole:before {content: "\e0a6";}
.icon-noteheadXWhole:before {content: "\e0a7";}
.icon-noteheadXHalf:before {content: "\e0a8";}
.icon-noteheadXBlack:before {content: "\e0a9";}
.icon-noteheadCircleXDoubleWhole:before {content: "\e0b0";}
.icon-noteheadCircleXWhole:before {content: "\e0b1";}
.icon-noteheadCircleXHalf:before {content: "\e0b2";}
.icon-noteheadCircleX:before {content: "\e0b3";}
.icon-noteheadCircledDoubleWhole:before {content: "\e0e7";}
.icon-noteheadCircledWhole:before {content: "\e0e6";}
.icon-noteheadCircledHalf:before {content: "\e0e5";}
.icon-noteheadCircledBlack:before {content: "\e0e4";}
.icon-noteheadDoubleWholeSquare:before {content: "\e0a1";}
.icon-noteheadSquareWhite:before {content: "\e0b8";}
.icon-noteheadSquareBlack:before {content: "\e0b9";}
.icon-noteheadTriangleDownDoubleWhole:before {content: "\e0c3";}
.icon-noteheadTriangleDownWhole:before {content: "\e0c4";}
.icon-noteheadTriangleDownHalf:before {content: "\e0c5";}
.icon-noteheadTriangleDownBlack:before {content: "\e0c7";}
.icon-noteheadTriangleUpDoubleWhole:before {content: "\e0ba";}
.icon-noteheadTriangleUpWhole:before {content: "\e0bb";}
.icon-noteheadTriangleUpHalf:before {content: "\e0bc";}
.icon-noteheadTriangleUpBlack:before {content: "\e0be";}
.icon-noteheadSlashedDoubleWhole1:before {content: "\e0d5";}
.icon-noteheadSlashedWhole1:before {content: "\e0d3";}
.icon-noteheadSlashedHalf1:before {content: "\e0d1";}
.icon-noteheadSlashedBlack1:before {content: "\e0cf";}
.icon-noteheadSlashedDoubleWhole2:before {content: "\e0d6";}
.icon-noteheadSlashedWhole2:before {content: "\e0d4";}
.icon-noteheadSlashedHalf2:before {content: "\e0d2";}
.icon-noteheadSlashedBlack2:before {content: "\e0d0";}
.icon-noteheadDiamondDoubleWhole:before {content: "\e0d7";}
.icon-noteheadDiamondWhole:before {content: "\e0d8";}
.icon-noteheadDiamondHalf:before {content: "\e0d9";}
.icon-noteheadDiamondBlack:before {content: "\e0db";}
.icon-noteheadParenthesis:before {content: "\e0ce";}
.icon-noteheadParenthesisRight:before {content: "\e0f6";}
.icon-noteheadParenthesisLeft:before {content: "\e0f5";}
.icon-noteheadMoonBlack:before {content: "\e0cb";}
.icon-noteheadTriangleLeftBlack:before {content: "\e0c0";}
.icon-noteheadTriangleRightBlack:before {content: "\e0c2";}
.icon-noteheadTriangleRoundDownBlack:before {content: "\e0cd";}
.icon-augmentationDot:before {content: "\e1e7";}
.icon-tremolo1:before {content: "\e220";}
.icon-flag8thUp:before {content: "\e240";}
.icon-flag8thDown:before {content: "\e241";}
.icon-flag16thUp:before {content: "\e242";}
.icon-flag16thDown:before {content: "\e243";}
.icon-flag32ndUp:before {content: "\e244";}
.icon-flag32ndDown:before {content: "\e245";}
.icon-flag64thUp:before {content: "\e246";}
.icon-flag64thDown:before {content: "\e247";}
.icon-flag128thUp:before {content: "\e248";}
.icon-flag128thDown:before {content: "\e249";}
.icon-accidentalFlat:before {content: "\e260";}
.icon-accidentalNatural:before {content: "\e261";}
.icon-accidentalSharp:before {content: "\e262";}
.icon-accidentalDoubleSharp:before {content: "\e263";}
.icon-accidentalDoubleFlat:before {content: "\e264";}
.icon-accidentalParensLeft:before {content: "\e26a";}
.icon-accidentalParensRight:before {content: "\e26b";}
.icon-accidentalQuarterToneFlatStein:before {content: "\e280";}
.icon-accidentalThreeQuarterTonesFlatZimmermann:before {content: "\e281";}
.icon-accidentalQuarterToneSharpStein:before {content: "\e282";}
.icon-accidentalThreeQuarterTonesSharpStein:before {content: "\e283";}
.icon-accidentalBuyukMucennebFlat:before {content: "\e440";}
.icon-accidentalBakiyeFlat:before {content: "\e442";}
.icon-accidentalKomaSharp:before {content: "\e444";}
.icon-accidentalKucukMucennebSharp:before {content: "\e446";}
.icon-accidentalKoron:before {content: "\e460";}
.icon-accidentalSori:before {content: "\e461";}
.icon-articAccentAbove:before {content: "\e4a0";}
.icon-articAccentBelow:before {content: "\e4a1";}
.icon-articTenutoAbove:before {content: "\e4a4";}
.icon-articTenutoBelow:before {content: "\e4a5";}
.icon-articStaccatoAbove:before {content: "\e4a2";}
.icon-articStaccatoBelow:before {content: "\e4a3";}
.icon-articStaccatissimoAbove:before {content: "\e4a6";}
.icon-articStaccatissimoBelow:before {content: "\e4a7";}
.icon-articMarcatoAbove:before {content: "\e4ac";}
.icon-articMarcatoBelow:before {content: "\e4ad";}
.icon-fermataAbove:before {content: "\e4c0";}
.icon-fermataBelow:before {content: "\e4c1";}
.icon-fermataLongAbove:before {content: "\e4c6";}
.icon-fermataLongBelow:before {content: "\e4c7";}
.icon-fermataVeryLongAbove:before {content: "\e4c8";}
.icon-fermataVeryLongBelow:before {content: "\e4c9";}
.icon-fermataShortAbove:before {content: "\e4c4";}
.icon-fermataShortBelow:before {content: "\e4c5";}
.icon-breathMarkComma:before {content: "\e4ce";}
.icon-breathMarkUpbow:before {content: "\e4d0";}
.icon-caesura:before {content: "\e4d1";}
.icon-caesuraCurved:before {content: "\e4d4";}
.icon-restMaxima:before {content: "\e4e0";}
.icon-restDoubleWhole:before {content: "\e4e2";}
.icon-restWhole:before {content: "\e4e3";}
.icon-restWholeLegerLine:before {content: "\e4f4";}
.icon-restHalf:before {content: "\e4e4";}
.icon-restHalfLegerLine:before {content: "\e4f5";}
.icon-restQuarter:before {content: "\e4e5";}
.icon-rest8th:before {content: "\e4e6";}
.icon-rest16th:before {content: "\e4e7";}
.icon-rest32nd:before {content: "\e4e8";}
.icon-rest64th:before {content: "\e4e9";}
.icon-rest128th:before {content: "\e4ea";}
.icon-ottavaAlta:before { content: "\e511";}
.icon-ottavaBassa:before { content: "\e512";}
.icon-dynamicPiano:before {content: "\e520";}
.icon-dynamicMezzo:before {content: "\e521";}
.icon-dynamicForte:before {content: "\e522";}
.icon-dynamicRinforzando:before {content: "\e523";}
.icon-dynamicSforzando:before {content: "\e524";}
.icon-dynamicZ:before {content: "\e525";}
.icon-ornamentTrill:before {content: "\e566";}
.icon-ornamentTurn:before {content: "\e567";}
.icon-ornamentTurnSlash:before {content: "\e569";}
.icon-ornamentMordent:before {content: "\e56d";}
.icon-ornamentShortTrill:before {content: "\e56c";}
.icon-ornamentTremblement:before {content: "\e56e";}
.icon-ornamentPrecompAppoggTrill:before {content: "\e5b2";}
.icon-ornamentPrecompSlideTrillDAnglebert:before {content: "\e5b5";}
.icon-ornamentPrecompSlideTrillBach:before {content: "\e5b8";}
.icon-ornamentPrecompTrillSuffixDandrieu:before {content: "\e5bb";}
.icon-ornamentPrecompDoubleCadenceUpperPrefix:before {content: "\e5c3";}
.icon-ornamentPrecompDoubleCadenceUpperPrefixTurn:before {content: "\e5c4";}
.icon-ornamentPrecompTrillLowerSuffix:before {content: "\e5c8";}
.icon-brassScoop:before {content: "\e5d0";}
.icon-brassDoitMedium:before {content: "\e5d5";}
.icon-brassFallLipShort:before {content: "\e5d7";}
.icon-brassLiftMedium:before {content: "\e5d2";}
.icon-brassFallRoughMedium:before {content: "\e5de";}
.icon-brassBend:before {content: "\e5e3";}
.icon-brassMuteClosed:before {content: "\e5e5";}
.icon-brassMuteOpen:before {content: "\e5e7";}
.icon-brassFlip:before {content: "\e5e1";}
.icon-brassJazzTurn:before {content: "\e5e4";}
.icon-brassSmear:before {content: "\e5e2";}
.icon-stringsDownBow:before {content: "\e610";}
.icon-stringsUpBow:before {content: "\e612";}
.icon-stringsHarmonic:before {content: "\e614";}
.icon-pluckedSnapPizzicatoAbove:before {content: "\e631";}
.icon-pluckedSnapPizzicatoBelow:before {content: "\e630";}
.icon-pluckedLeftHandPizzicato:before {content: "\e633";}
.icon-keyboardPedalPed:before {content: "\e650";}
.icon-keyboardPedalUp:before {content: "\e655";}
.icon-pictChokeCymbal:before {content: "\e805";}
.icon-wiggleArpeggiatoUp:before {content: "\eaa9";}
.icon-arrowheadBlackUp:before {content: "\eb78";}
.icon-arrowheadBlackDown:before {content: "\eb7c";}
.icon-arpeggiatoUp:before {content: "\e634";}
.icon-arpeggiatoDown:before {content: "\e635";}
.icon-repeat1Bar:before {content: "\e500";}
.icon-repeat2Bars:before {content: "\e501";}
.icon-repeat4Bars:before {content: "\e502";}
.icon-repeatBarSlash:before {content: "\e504";}
.icon-csymDiminished:before {content: "\e870";}
.icon-csymHalfDiminished:before {content: "\e871";}
.icon-csymAugmented:before {content: "\e872";}
.icon-csymMajorSeventh:before {content: "\e873";}
.icon-csymMinor:before {content: "\e874";}
.icon-csymParensLeftTall:before {content: "\e875";}
.icon-csymParensRightTall:before {content: "\e876";}
.icon-csymBracketLeftTall:before {content: "\e877";}
.icon-csymBracketRightTall:before {content: "\e878";}
.icon-csymParensLeftVeryTall:before {content: "\e879";}
.icon-csymParensRightVeryTall:before {content: "\e87a";}
.icon-csymDiagonalArrangementSlash:before {content: "\e87c";}
.icon-accSagittal5v7KleismaUp:before {content: "\e300";}
.icon-accSagittal5v7KleismaDown:before {content: "\e301";}
.icon-accSagittal5CommaUp:before {content: "\e302";}
.icon-accSagittal5CommaDown:before {content: "\e303";}
.icon-accSagittal7CommaUp:before {content: "\e304";}
.icon-accSagittal7CommaDown:before {content: "\e305";}
.icon-accSagittal25SmallDiesisUp:before {content: "\e306";}
.icon-accSagittal25SmallDiesisDown:before {content: "\e307";}
.icon-accSagittal35MediumDiesisUp:before {content: "\e308";}
.icon-accSagittal35MediumDiesisDown:before {content: "\e309";}
.icon-accSagittal11MediumDiesisUp:before {content: "\e30a";}
.icon-accSagittal11MediumDiesisDown:before {content: "\e30b";}
.icon-accSagittal11LargeDiesisUp:before {content: "\e30c";}
.icon-accSagittal11LargeDiesisDown:before {content: "\e30d";}
.icon-accSagittal35LargeDiesisUp:before {content: "\e30e";}
.icon-accSagittal35LargeDiesisDown:before {content: "\e30f";}
.icon-accSagittalSharp25SDown:before {content: "\e310";}
.icon-accSagittalFlat25SUp:before {content: "\e311";}
.icon-accSagittalSharp7CDown:before {content: "\e312";}
.icon-accSagittalFlat7CUp:before {content: "\e313";}
.icon-accSagittalSharp5CDown:before {content: "\e314";}
.icon-accSagittalFlat5CUp:before {content: "\e315";}
.icon-accSagittalSharp5v7kDown:before {content: "\e316";}
.icon-accSagittalFlat5v7kUp:before {content: "\e317";}
.icon-accSagittalSharp:before {content: "\e318";}
.icon-accSagittalFlat:before {content: "\e319";}
.icon-accSagittalSharp5v7kUp:before {content: "\e31c";}
.icon-accSagittalFlat5v7kDown:before {content: "\e31d";}
.icon-accSagittalSharp5CUp:before {content: "\e31e";}
.icon-accSagittalFlat5CDown:before {content: "\e31f";}
.icon-accSagittalSharp7CUp:before {content: "\e320";}
.icon-accSagittalFlat7CDown:before {content: "\e321";}
.icon-accSagittalSharp25SUp:before {content: "\e322";}
.icon-accSagittalFlat25SDown:before {content: "\e323";}
.icon-accSagittalSharp35MUp:before {content: "\e324";}
.icon-accSagittalFlat35MDown:before {content: "\e325";}
.icon-accSagittalSharp11MUp:before {content: "\e326";}
.icon-accSagittalFlat11MDown:before {content: "\e327";}
.icon-accSagittalSharp11LUp:before {content: "\e328";}
.icon-accSagittalFlat11LDown:before {content: "\e329";}
.icon-accSagittalSharp35LUp:before {content: "\e32a";}
.icon-accSagittalFlat35LDown:before {content: "\e32b";}
.icon-accSagittalDoubleSharp25SDown:before {content: "\e32c";}
.icon-accSagittalDoubleFlat25SUp:before {content: "\e32d";}
.icon-accSagittalDoubleSharp7CDown:before {content: "\e32e";}
.icon-accSagittalDoubleFlat7CUp:before {content: "\e32f";}
.icon-accSagittalDoubleSharp5CDown:before {content: "\e330";}
.icon-accSagittalDoubleFlat5CUp:before {content: "\e331";}
.icon-accSagittalDoubleSharp5v7kDown:before {content: "\e332";}
.icon-accSagittalDoubleFlat5v7kUp:before {content: "\e333";}
.icon-accSagittalDoubleSharp:before {content: "\e334";}
.icon-accSagittalDoubleFlat:before {content: "\e335";}
.icon-accSagittal7v11KleismaUp:before {content: "\e340";}
.icon-accSagittal7v11KleismaDown:before {content: "\e341";}
.icon-accSagittal17CommaUp:before {content: "\e342";}
.icon-accSagittal17CommaDown:before {content: "\e343";}
.icon-accSagittal55CommaUp:before {content: "\e344";}
.icon-accSagittal55CommaDown:before {content: "\e345";}
.icon-accSagittal7v11CommaUp:before {content: "\e346";}
.icon-accSagittal7v11CommaDown:before {content: "\e347";}
.icon-accSagittal5v11SmallDiesisUp:before {content: "\e348";}
.icon-accSagittal5v11SmallDiesisDown:before {content: "\e349";}
.icon-accSagittalSharp5v11SDown:before {content: "\e34a";}
.icon-accSagittalFlat5v11SUp:before {content: "\e34b";}
.icon-accSagittalSharp7v11CDown:before {content: "\e34c";}
.icon-accSagittalFlat7v11CUp:before {content: "\e34d";}
.icon-accSagittalSharp55CDown:before {content: "\e34e";}
.icon-accSagittalFlat55CUp:before {content: "\e34f";}
.icon-accSagittalSharp17CDown:before {content: "\e350";}
.icon-accSagittalFlat17CUp:before {content: "\e351";}
.icon-accSagittalSharp7v11kDown:before {content: "\e352";}
.icon-accSagittalFlat7v11kUp:before {content: "\e353";}
.icon-accSagittalSharp7v11kUp:before {content: "\e354";}
.icon-accSagittalFlat7v11kDown:before {content: "\e355";}
.icon-accSagittalSharp17CUp:before {content: "\e356";}
.icon-accSagittalFlat17CDown:before {content: "\e357";}
.icon-accSagittalSharp55CUp:before {content: "\e358";}
.icon-accSagittalFlat55CDown:before {content: "\e359";}
.icon-accSagittalSharp7v11CUp:before {content: "\e35a";}
.icon-accSagittalFlat7v11CDown:before {content: "\e35b";}
.icon-accSagittalSharp5v11SUp:before {content: "\e35c";}
.icon-accSagittalFlat5v11SDown:before {content: "\e35d";}
.icon-accSagittalDoubleSharp5v11SDown:before {content: "\e35e";}
.icon-accSagittalDoubleFlat5v11SUp:before {content: "\e35f";}
.icon-accSagittalDoubleSharp7v11CDown:before {content: "\e360";}
.icon-accSagittalDoubleFlat7v11CUp:before {content: "\e361";}
.icon-accSagittalDoubleSharp55CDown:before {content: "\e362";}
.icon-accSagittalDoubleFlat55CUp:before {content: "\e363";}
.icon-accSagittalDoubleSharp17CDown:before {content: "\e364";}
.icon-accSagittalDoubleFlat17CUp:before {content: "\e365";}
.icon-accSagittalDoubleSharp7v11kDown:before {content: "\e366";}
.icon-accSagittalDoubleFlat7v11kUp:before {content: "\e367";}
.icon-accSagittal23CommaUp:before {content: "\e370";}
.icon-accSagittal23CommaDown:before {content: "\e371";}
.icon-accSagittal5v19CommaUp:before {content: "\e372";}
.icon-accSagittal5v19CommaDown:before {content: "\e373";}
.icon-accSagittal5v23SmallDiesisUp:before {content: "\e374";}
.icon-accSagittal5v23SmallDiesisDown:before {content: "\e375";}
.icon-accSagittalSharp5v23SDown:before {content: "\e376";}
.icon-accSagittalFlat5v23SUp:before {content: "\e377";}
.icon-accSagittalSharp5v19CDown:before {content: "\e378";}
.icon-accSagittalFlat5v19CUp:before {content: "\e379";}
.icon-accSagittalSharp23CDown:before {content: "\e37a";}
.icon-accSagittalFlat23CUp:before {content: "\e37b";}
.icon-accSagittalSharp23CUp:before {content: "\e37c";}
.icon-accSagittalFlat23CDown:before {content: "\e37d";}
.icon-accSagittalSharp5v19CUp:before {content: "\e37e";}
.icon-accSagittalFlat5v19CDown:before {content: "\e37f";}
.icon-accSagittalSharp5v23SUp:before {content: "\e380";}
.icon-accSagittalFlat5v23SDown:before {content: "\e381";}
.icon-accSagittalDoubleSharp5v23SDown:before {content: "\e382";}
.icon-accSagittalDoubleFlat5v23SUp:before {content: "\e383";}
.icon-accSagittalDoubleSharp5v19CDown:before {content: "\e384";}
.icon-accSagittalDoubleFlat5v19CUp:before {content: "\e385";}
.icon-accSagittalDoubleSharp23CDown:before {content: "\e386";}
.icon-accSagittalDoubleFlat23CUp:before {content: "\e387";}
.icon-accSagittal19SchismaUp:before {content: "\e390";}
.icon-accSagittal19SchismaDown:before {content: "\e391";}
.icon-accSagittal17KleismaUp:before {content: "\e392";}
.icon-accSagittal17KleismaDown:before {content: "\e393";}
.icon-accSagittal143CommaUp:before {content: "\e394";}
.icon-accSagittal143CommaDown:before {content: "\e395";}
.icon-accSagittal11v49CommaUp:before {content: "\e396";}
.icon-accSagittal11v49CommaDown:before {content: "\e397";}
.icon-accSagittal19CommaUp:before {content: "\e398";}
.icon-accSagittal19CommaDown:before {content: "\e399";}
.icon-accSagittal7v19CommaUp:before {content: "\e39a";}
.icon-accSagittal7v19CommaDown:before {content: "\e39b";}
.icon-accSagittal49SmallDiesisUp:before {content: "\e39c";}
.icon-accSagittal49SmallDiesisDown:before {content: "\e39d";}
.icon-accSagittal23SmallDiesisUp:before {content: "\e39e";}
.icon-accSagittal23SmallDiesisDown:before {content: "\e39f";}
.icon-accSagittal5v13MediumDiesisUp:before {content: "\e3a0";}
.icon-accSagittal5v13MediumDiesisDown:before {content: "\e3a1";}
.icon-accSagittal11v19MediumDiesisUp:before {content: "\e3a2";}
.icon-accSagittal11v19MediumDiesisDown:before {content: "\e3a3";}
.icon-accSagittal49MediumDiesisUp:before {content: "\e3a4";}
.icon-accSagittal49MediumDiesisDown:before {content: "\e3a5";}
.icon-accSagittal5v49MediumDiesisUp:before {content: "\e3a6";}
.icon-accSagittal5v49MediumDiesisDown:before {content: "\e3a7";}
.icon-accSagittal49LargeDiesisUp:before {content: "\e3a8";}
.icon-accSagittal49LargeDiesisDown:before {content: "\e3a9";}
.icon-accSagittal11v19LargeDiesisUp:before {content: "\e3aa";}
.icon-accSagittal11v19LargeDiesisDown:before {content: "\e3ab";}
.icon-accSagittal5v13LargeDiesisUp:before {content: "\e3ac";}
.icon-accSagittal5v13LargeDiesisDown:before {content: "\e3ad";}
.icon-accSagittalSharp23SDown:before {content: "\e3b0";}
.icon-accSagittalFlat23SUp:before {content: "\e3b1";}
.icon-accSagittalSharp49SDown:before {content: "\e3b2";}
.icon-accSagittalFlat49SUp:before {content: "\e3b3";}
.icon-accSagittalSharp7v19CDown:before {content: "\e3b4";}
.icon-accSagittalFlat7v19CUp:before {content: "\e3b5";}
.icon-accSagittalSharp19CDown:before {content: "\e3b6";}
.icon-accSagittalFlat19CUp:before {content: "\e3b7";}
.icon-accSagittalSharp11v49CDown:before {content: "\e3b8";}
.icon-accSagittalFlat11v49CUp:before {content: "\e3b9";}
.icon-accSagittalSharp143CDown:before {content: "\e3ba";}
.icon-accSagittalFlat143CUp:before {content: "\e3bb";}
.icon-accSagittalSharp17kDown:before {content: "\e3bc";}
.icon-accSagittalFlat17kUp:before {content: "\e3bd";}
.icon-accSagittalSharp19sDown:before {content: "\e3be";}
.icon-accSagittalFlat19sUp:before {content: "\e3bf";}
.icon-accSagittalSharp19sUp:before {content: "\e3c0";}
.icon-accSagittalFlat19sDown:before {content: "\e3c1";}
.icon-accSagittalSharp17kUp:before {content: "\e3c2";}
.icon-accSagittalFlat17kDown:before {content: "\e3c3";}
.icon-accSagittalSharp143CUp:before {content: "\e3c4";}
.icon-accSagittalFlat143CDown:before {content: "\e3c5";}
.icon-accSagittalSharp11v49CUp:before {content: "\e3c6";}
.icon-accSagittalFlat11v49CDown:before {content: "\e3c7";}
.icon-accSagittalSharp19CUp:before {content: "\e3c8";}
.icon-accSagittalFlat19CDown:before {content: "\e3c9";}
.icon-accSagittalSharp7v19CUp:before {content: "\e3ca";}
.icon-accSagittalFlat7v19CDown:before {content: "\e3cb";}
.icon-accSagittalSharp49SUp:before {content: "\e3cc";}
.icon-accSagittalFlat49SDown:before {content: "\e3cd";}
.icon-accSagittalSharp23SUp:before {content: "\e3ce";}
.icon-accSagittalFlat23SDown:before {content: "\e3cf";}
.icon-accSagittalSharp5v13MUp:before {content: "\e3d0";}
.icon-accSagittalFlat5v13MDown:before {content: "\e3d1";}
.icon-accSagittalSharp11v19MUp:before {content: "\e3d2";}
.icon-accSagittalFlat11v19MDown:before {content: "\e3d3";}
.icon-accSagittalSharp49MUp:before {content: "\e3d4";}
.icon-accSagittalFlat49MDown:before {content: "\e3d5";}
.icon-accSagittalSharp5v49MUp:before {content: "\e3d6";}
.icon-accSagittalFlat5v49MDown:before {content: "\e3d7";}
.icon-accSagittalSharp49LUp:before {content: "\e3d8";}
.icon-accSagittalFlat49LDown:before {content: "\e3d9";}
.icon-accSagittalSharp11v19LUp:before {content: "\e3da";}
.icon-accSagittalFlat11v19LDown:before {content: "\e3db";}
.icon-accSagittalSharp5v13LUp:before {content: "\e3dc";}
.icon-accSagittalFlat5v13LDown:before {content: "\e3dd";}
.icon-accSagittalDoubleSharp23SDown:before {content: "\e3e0";}
.icon-accSagittalDoubleFlat23SUp:before {content: "\e3e1";}
.icon-accSagittalDoubleSharp49SDown:before {content: "\e3e2";}
.icon-accSagittalDoubleFlat49SUp:before {content: "\e3e3";}
.icon-accSagittalDoubleSharp7v19CDown:before {content: "\e3e4";}
.icon-accSagittalDoubleFlat7v19CUp:before {content: "\e3e5";}
.icon-accSagittalDoubleSharp19CDown:before {content: "\e3e6";}
.icon-accSagittalDoubleFlat19CUp:before {content: "\e3e7";}
.icon-accSagittalDoubleSharp11v49CDown:before {content: "\e3e8";}
.icon-accSagittalDoubleFlat11v49CUp:before {content: "\e3e9";}
.icon-accSagittalDoubleSharp143CDown:before {content: "\e3ea";}
.icon-accSagittalDoubleFlat143CUp:before {content: "\e3eb";}
.icon-accSagittalDoubleSharp17kDown:before {content: "\e3ec";}
.icon-accSagittalDoubleFlat17kUp:before {content: "\e3ed";}
.icon-accSagittalDoubleSharp19sDown:before {content: "\e3ee";}
.icon-accSagittalDoubleFlat19sUp:before {content: "\e3ef";}
.icon-accSagittalShaftUp:before {content: "\e3f0";}
.icon-accSagittalShaftDown:before {content: "\e3f1";}
.icon-accSagittalAcute:before {content: "\e3f2";}
.icon-accSagittalGrave:before {content: "\e3f3";}
.icon-accSagittal1MinaUp:before {content: "\e3f4";}
.icon-accSagittal1MinaDown:before {content: "\e3f5";}
.icon-accSagittal2MinasUp:before {content: "\e3f6";}
.icon-accSagittal2MinasDown:before {content: "\e3f7";}
.icon-accSagittal1TinaUp:before {content: "\e3f8";}
.icon-accSagittal1TinaDown:before {content: "\e3f9";}
.icon-accSagittal2TinasUp:before {content: "\e3fa";}
.icon-accSagittal2TinasDown:before {content: "\e3fb";}
.icon-accSagittal3TinasUp:before {content: "\e3fc";}
.icon-accSagittal3TinasDown:before {content: "\e3fd";}
.icon-accSagittal4TinasUp:before {content: "\e3fe";}
.icon-accSagittal4TinasDown:before {content: "\e3ff";}
.icon-accSagittal5TinasUp:before {content: "\e400";}
.icon-accSagittal5TinasDown:before {content: "\e401";}
.icon-accSagittal6TinasUp:before {content: "\e402";}
.icon-accSagittal6TinasDown:before {content: "\e403";}
.icon-accSagittal7TinasUp:before {content: "\e404";}
.icon-accSagittal7TinasDown:before {content: "\e405";}
.icon-accSagittal8TinasUp:before {content: "\e406";}
.icon-accSagittal8TinasDown:before {content: "\e407";}
.icon-accSagittal9TinasUp:before {content: "\e408";}
.icon-accSagittal9TinasDown:before {content: "\e409";}
.icon-accSagittalFractionalTinaUp:before {content: "\e40a";}
.icon-accSagittalFractionalTinaDown:before {content: "\e40b";}
.icon-accidentalNarrowReversedFlat:before {content: "\e284";}
.icon-accidentalNarrowReversedFlatAndFlat:before {content: "\e285";}
.icon-accidentalWilsonPlus:before {content: "\e47b";}
.icon-accidentalWilsonMinus:before {content: "\e47c";}