

@font-face {
    font-family: 'Petaluma Script';
    src: url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/petalumascript-webfont.woff2') format('woff2'),
         url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/petalumascript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/robotoslab-webfont.woff2') format('woff2'),
         url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/robotoslab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/Merriweather-Regular.woff2') format('woff2'),
         url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/Merriweather-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Commissioner';
    src: url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/Commissioner-Medium.woff2') format('woff2'),
         url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/Commissioner-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ConcertOne';
    src: url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/ConcertOne-Regular.woff2') format('woff2'),
         url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/ConcertOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/SourceSansPro-Regular.woff2') format('woff2'),
         url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/SourceSansPro-Bold.woff2') format('woff2'),
         url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/SourceSansPro-Bold.woff') format('woff')
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/SourceSerifPro-Regular.woff2') format('woff2'),
         url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/SourceSerifPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/SourceSerifPro-Bold.woff2') format('woff2'),
         url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/SourceSerifPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ConcertOne';
    src: url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/ConcertOne-Regular.woff2') format('woff2'),
         url('https://aarondavidnewman.github.io/Smoosic/build/styles/fonts/ConcertOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin:0;
	overflow:hidden;
}

/* @font-face {
  font-family:'Bubblegum Sans',cursive;
  font-family:'Yatra One',cursive;
}   */
h1 {
	text-align:center;
}

.subTitle {
	height: 14px;
	font-size:0.8em;
	text-align:center;
}

.dom-container {
	background-color:#999;
}
.bold-italic {
  font-weight: bold;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.testTitle {
	height: 20px;
	font-size:1.2em;
    margin:0;
}

#birdy {
    width:50;
    height:50;
    position:fixed;
}

.svg-debug-box {
	font-size:0.55em;
	fill:#99e;
}
.system-place-dbg text {
    fill:#111;
	font-size:1em;
}

.system-place-dbg line {
    stroke:#111;
	stroke-width:2;
    stroke-dasharray:2;
}
.measure-adjust-dbg text {
	fill:#492;
	font-size:1em;
}
.measure-adjust-dbg line {
	stroke:#492;
	stroke-width:2;
}

.measure-adjustHeight-dbg text {
	fill:#511;
	font-size:1em;
}
.measure-adjustHeight-dbg line {
	stroke:#511;
	stroke-width:2;
    stroke-dasharray:2;
}

.measure-note-dbg line {
	stroke:#fc9;
	stroke-width:1;
}
.measure-note-dbg text {
	display:none;
	fill:#774422;
}
.measure-render-dbg text {
	fill:#933;
	font-size:1em;
}
.measure-render-dbg line{
	stroke:#e99;
	stroke-width:1;
}
.measure-place-dbg text {
	fill:#9d9dee;
}

.measure-place-dbg line {
	stroke:#9c9dee;
	stroke-width:2;
}

.measure-format  {
    fill:#229cee;
}

body.print-render .measure-format {
    display:none;
}

body.printing .piano-container {
  display:none;
}


@media print {
    .controls-left,.controls-top,.testTitle {
       display:none;
    }

    #vf-selection-outline,
    #vf-suggestion-outline {
      display: none;
    }
    
    .piano-container {
        display:none;
    }

    .musicRelief {
        overflow:hidden;
    }
    .measure-format {
        dislay:none;
    }

    .workspace {
        padding-top: 0;
        position:relative;
        padding-left: 0;
        background: #999;
    }
    iframe {
        border:0;
    }
	.musicReliefShadow {
		display:none;
	}

}

body.printing .workspace-container {
    display:none;
}
body.printing .controls-left,
body.printing .control-bar
 {
  display:none;
}

body.printing iframe {
    border:none;
}
body.printing .printFrame {
    display:block;
    overflow:visible;
}
.printFrame {
    display:none;
}
.printFrame iframe {
    background:#fff;
}

@media screen {
	.musicRelief {
    overflow:auto;
    display:flex;
    flex-flow:column nowrap;
    flex: 1 1 auto;
  }
  .workspace {
    padding-top: 2px;
    position:relative;
    background: #999;
    display:flex;
    flex-flow:row wrap;
  }
}

.musicRelief {
	background:#999;

}
.media {
	display:flex;
  flex-flow:row nowrap;
  flex-basis:100%;
  overflow-y:auto;
}

.saveLink {
    display:none;
}

.musicContainer {
    position: relative;
	background:#fff;
}
.musicContainer svg {
	/* transform:scale(0.7,0.7);  */
	width:100%;
	height:100%;
	overflow:visible;
}

.overlay {
	display:none;
}

.vf-lyric.under-edit {
  fill: none;
  stroke: #fff;
}

.separator {
	width:15px;
	/* text-align: center; */
	display: inline-block;
	font-weight: bold;
	text-justify:center;
}
