


h1 {
	text-align:center;
}

.testTitle {
	height: 20px;
	font-size:1.2em;
}

.subTitle {
	height: 14px;
	font-size:0.8em;
	text-align:center;
}

.controls {
	position:fixed;
	right:120px;
	top:80px;
	background:transparent;
}

.menu-status {
	position:absolute;
	right:10px;
	top:150px;
	background:#fff;
	padding:5px;
	border:solid #fee 2px;
	border-radius:3px;
}

.menu-status .help-title {
	display:none;
}

.menu-status .keyBlock {
	width:270px;
}
.menu-status .keyContainer {
	width:auto;
}

.menu-status div {
	margin:5px;
}
button.help-button {
	background:transparent;
	/* width:50px; */
	/* height:40px; */
	padding:5px;
	font-size: 1.2em;
	border: 0;
	/* border: black solid 1px; */
}

button.help-button:hover,button.help-button:focus {
	border:2px blue solid;
	border-radius:3px;
	opacity:0.7;
}

.menuOption {
	width:128px;
	height:32px;
	padding:0;
	position:relative;
	background:#fff;
}

.menuContainer{
	position:relative;
	z-index:12;
}

.musicRelief {
	background:#999;
}
.musicContainer {
	width:8.5in;
	height:11in;
	position:relative;
	border:1px solid black;
	background:#fff;
	z-index:1;
}

.musicContainer svg {
	/* transform:scale(0.7,0.7);  */
	width:100%;
	height:100%;
	overflow:visible;
}

.menuElement {
	position:absolute;
	list-style:none;
    z-index: 13;
    background: #fff;
	padding:0;
}

.menuOption {

}

.menuElement 	.menuOption button:focus-within {
	background:#ccf;
	border:2px green solid;
	font-weigth: bold;
}

.menuElement .menuOption button {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
	padding:0;
	font-size: 10px;
    text-align: left;
}

.overlay {
	display:none;
}

.separator {
	width:15px;
	/* text-align: center; */
	display: inline-block;
	font-weight: bold;
	text-justify:center;
}

body.modal .overlay,body.showAttributeDialog .overlay,body.showHelpDialog .overlay {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	z-index:2;
	opacity:0.7;
}

.helpDialog {
	display:none;
}

button.icon-cross.close {
	color:red;
	font-weight:bold;
	position:absolute;
	font-size: 1.2em;
	top:0;
	right: 0;
}

button.icon-cross.close:focus,button.icon-cross.close:hover {
	border:2px solid blue;
}

body.showHelpDialog .helpDialog {
	display:block;
	width:90%;
	height:90%;
	position:absolute;
	z-index: 5;
	background: #eef;
	left: 4%;
	margin: 8px;
	padding: 10px;
	border: 3px solid #334;
	border-radius: 5px;
}

.helpLine {
	margin-bottom:15px;
}

.helpLine .help-title {
	/* text-align:center; */
	font-weight: bold;
}
.helpKey {
	border:1px solid #222;
	border-radius:5px;
	width: 40px;
	height: 20px;
	display: inline-block;
	text-align: center;
	padding-top: 6px;
	margin-right: 5px;
}

.help-left {
	width:45%;
	float:left;
}

.help-right {
	width:45%;
	float:right;
}

.keyBlock {
	display: block;
	margin-top: 5px;
}

.no-border {
	border:0;
}


.helpKey.help-ellipsis {
	margin-left: -5px;
	border:0;
	width: 5px;	
}

.keyContainer {
	width: 270px;
	display:inline-block;
}

.keyBlock label {
	margin-left:7px;
	margin-right:7px;
}

.menuOption .icon {
	position:absolute;
	right:0;
	top:0;
	font-size:2em;
}
body.showAttributeDialog .attributeDialog {
	display:block;
	z-index:3;
}

.attributeDialog {
	position:relative;
	display:none;
}

.attributeModal {
	position:absolute;
	background: #fff;
	border-style: groove;
	border-width: 2px;
	border-color: #9ac;
	padding: 3px;
}

.attributeModal h2 {
	text-align:center;
	font-size:1.2em;
}
.buttonContainer {
	text-align:center;
	margin-top:3px;
}

.buttonContainer button {
	margin-right:2px;
}
.smoControl {
	margin-top:3px;
}

.smoControl button, .smoControl input,.smoControl select {
	margin-right:2px;
}
.rockerControl button {
	width:32px;
}

.dropdownControl select {
	margin-left:64px;
}







