

body {
	margin:0;
	overflow:hidden;
}

h1 {
	text-align:center;
}

.dom-container {
	background-color:#999;
}
.testTitle {
	height: 20px;
	font-size:1.2em;
    margin:0;
}

#birdy {
    width:50;
    height:50;
    position:fixed;
}
.draganime.hide,.textEdit.hide {
	display:none;
}

.draganime {
	display:block;
	border:blue 2px solid;
	position:absolute;
	z-index:11;
}
body.text-edit .fold-textedit {
    display:none;
}

body.text-move .fold-textmove{
    display:none;
}

body.text-edit .cbTextInPlace label {
    width:100%;
}

body.text-move .cbDragTextDialog label {
    width:100%;
}

body.text-edit .buttonContainer,
body.text-move .buttonContainer {
    display:none;
}

body.text-edit .buttonContainer.show-text-edit {
    display:block;
}

.textEdit  {
	display:block;
	border:#3e3 2px dashed;
	position:absolute;
	z-index:11;
}
.textEdit span.icon-move.hide {
    display:none;
}
.textEdit span.icon-move {
    position:absolute;
    left:2;
    top:2;
}
/* text edit svg overlay */
.textEdit {
    border:#9cc 4px dotted;
    overflow:hidden;
    background:#fff;
}
.subTitle {
	height: 14px;
	font-size:0.8em;
	text-align:center;
}
.controls-top {
	width:100%;
	min-height:50px;
	margin-bottom:3px;
	background-color: #fff;
	background:transparent;
	display:flex;
	flex-flow:row wrap;
}

.controls-left button,.controls-top button {
	background-color:#fff;
}
.piano-container {
	position:relative;
}
#keyId-C4 {
	fill:#ddffee;
}
#keyId-C4.glow-key {
	fill:#33ccaa;
}
.piano-keys {
	height:141px;
	width: 805px;
	overflow-x:auto;
	overflow-y:hidden;
	padding-top: 35px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:3px;
	border: #336 3px solid;
	border-radius:5px;
	position:relative;
	display:none;
}

body.show-piano #pianoModal {
	display:none;
}

body.show-piano .piano-keys {
	display:block;
}

.black-key {
	fill:#000;
	stroke:#000;
}

.white-key {
	fill:#fff;
	stroke:#000;
}
.white-key.glow-key {
	fill:#aad;
}
.white-key.pressed-key {
	fill:#33d;
}
.black-key.pressed-key {
	fill:#bbd;
}
.black-key.glow-key {
	fill:#aad;
}
.note-text {
	font-size:.7em;
}
.menu-status {
	position:absolute;
	/* right:10px; */
	top:150px;
	background:#fff;
	z-index: 6;
	padding:5px;
	border:solid #8d8 2px;
	border-radius:3px;
}

.menu-status .help-title {
	display:none;
}

.menu-status .keyBlock {
	width:270px;
}
.menu-status .keyContainer {
	width:auto;
}

.menu-status div {
	margin:5px;
}

.ribbonButtonContainer[data-group="debug"] {
    display:none;
}

body.layout-debug .ribbonButtonContainer[data-group="debug"] {
    display:block;
}

div.ribbonButtonContainer.expanded {
	margin-right:5px;
}

.controls-left {
	position: absolute;
	left: 10px;
	margin-top: 33px;
	background-color: #fff;
	background:transparent;
	display:flex;
	flex-direction:column;
}

.controls-left button,
.controls-top button
 {
	padding: 5px 0;
	font-size: 0.7em;
	border: 1px #44e solid;
	position:relative;
}

.controls-left button {
	height: 25px;
	width: 100px;
	padding-left: 3px;
	text-align:left;
	font-family:serif;
	font-size:1em;
}

.controls-top button {
	width:30px;
	height:50px;
	font-size:0.7em;
}

.controls-top div {
	display:inline-block;
}
.controls-left button span.ribbon-button-text,
.controls-top button span.ribbon-button-text {
	position:absolute;
	left:2px;
	top:33%;
}

#addDynamicsMenu {
	font-size:.9em;
}

#addDynamicsMenu .left-text {
	left:0;
	top:20%;
}
#TextButtons {
    font-size:1.2em;
}

#TextButtons .ribbon-button-text{
    top:15%;
    left:18%;
}

#lyrics {
    width:65px;
}

#lyrics .ribbon-button-text {
	left:-5px;
}

#articulationButtons .left-text {
    font-size: 1.4em;
    position: absolute;
    top: 10%;
    left: 12%;
}
#StaveButtons {
    width:55px;
    font-size:1.2em;
}

.ribbonButtonContainer .icon.staves.expanded {
    width:55px;
    font-size:1.6em;
}

.ribbonButtonContainer .icon.staves.expanded .left-text span.icon {
    left:20%;
}

.ribbonButtonContainer .icon.staves.expanded .left-text span.icon.icon-treble  {
    left:25%;
}

#clefMoveUp,#clefMoveDown {
    font-size:1em;
}

#StaveButtons span.icon {
    font-size:1.6em;
    top:0;
    left:20%;
}

#NoteButtons span.icon {
	font-size:2em;
}

#articulationButtons  .icon-articulation{
	left:30%;
}
#ArticulationButtons .icon-articulation:before {
	font-size:2.4em;
}

.controls-top button.duration,.controls-top button.measure,
.controls-top button.repetext,.controls-top button.textButton,
.controls-top button.beams
 {
	width:55px;
}

.controls-top button.beams {
    font-size:1.2em;
}

#toggleBeamDirection {
    width:75px;
}

#beamSelections {
    width:115px;
}

#toggleBeamDirection .left-text,
#beamSelections .left-text,
#breakBeam .left-text {
    font-size: 1.6em;
    position: absolute;
    top: 20%;
    left: 0;
}

.controls-top button.beams .ribbon-button-hotkey {
    font-size:0.6em;
}

.controls-top button.textButton {
    font-size:1.2em;
}

.controls-top button.textButton span.left-text {
    left:18%;
    top:12%;
    position:absolute;
}
.controls-top button.duration.expanded.tuplet span.ribbon-button-hotkey  {
	font-size:1em;
}
.controls-top button.duration.expanded span.ribbon-button-text.icon {
	font-size:2.2em;
	top:25%;
}

.controls-top button.duration span.ribbon-button-text,
.controls-top button.repetext span.ribbon-button-text {
	font-size:1.6em;
}

.controls-top button.repetext {
	font-style:italic;
}
.controls-top button.duration span.ribbon-button-hotkey {
	font-size:1.6em;
}


.controls-top .text-span {
	position:absolute;
	top: 30%;
	left: 0;
}

button.addChord .left-text .icon {
	left:2em;
}

.ribbonButtonContainer button.player{
    width:55px;
}

.controls-top .ribbonButtonContainer button.player span.ribbon-button-text {
    top:25%;
}
#playerButtons .ribbon-button-text {
    top: 15%;
    left: 15%;
}

#playerButtons {
    width:55px;
    font-size:1.3em;
}


#addTextMenu .left-text {
    left:18%;
    top: 15%;
    font-size: 1em;
    position:absolute;
}
#DurationButtons .left-text {
    position:absolute;
    font-size:1.2em;
    left:12%;
    top:12%;
}

#MeasureButtons .left-text {
    position:absolute;
    top: 12%;
    left: 15%;
    font-size: 1.9em;
}

#GrowDuration .ribbon-button-hotkey ,
#LessDuration .ribbon-button-hotkey {
	font-size:3em;
	top:0;
}

#TripletButton {
    width:65px;
}
#SeptupletButton {
	width:90px;
}

#QuintupletButton {
	width:75px;
}

#toCoda .icon  {
	left:10px;
}

.controls-top button.articulation {
	width:50px;
}

.controls-top button.articulation span.ribbon-button-text.icon {
	top:30%;
}

.controls-top button.selection-icon span.ribbon-button-text.icon {
	top:30%;
	left: 20%;
}

.controls-top button.articulation span.ribbon-button-text.icon:before {
	font-size:1.8em;
}
.controls-top button.selection-icon {
	width:50px;
}
.controls-top button.selection-icon span.ribbon-button-text.icon:before {
	font-size: 2.2em;
}

.controls-top button.addChord {
	width:55px;
}

.controls-top button.addChord.dirdown {
	width:70px;
}

#CreateChordButtons {
    width:45px;
}
#CreateChordButtons .left-text {
	font-size:1.6em;
    position:absolute;
    top:20%;
    left:25%;
}
#CreateChordButtons span.ribbon-button-text {
	position:absolute;
	left:30%;
	top:30%;
}
#NavigationButtons {
	width:55px;
	font-size:1.7em;
}

#NavigationButtons.expandedChildren {
	font-size: 1.2em;
	width: 50px;
	left: 0;
}

#UpOctaveButton,#DownOctaveButton {
	width:50px;
	font-size:0.6em;
}
#ToggleAccidental ,#ToggleCourtesy {
	font-size:1em;
	width:60px;
}
#ToggleAccidental .ribbon-button-hotkey,#ToggleCourtesy .ribbon-button-hotkey  {
	font-size:0.7em;
}

.controls-left button.icon span.icon,
.controls-top button.icon span.icon {
	top:10%;
}

.controls-left button.icon span.icon:before,
.controls-top button.icon span.icon:before{
	font-size:1.6em;
}

.controls-top button span.ribbon-button-hotkey {
	position:absolute;
	right:2px;
	top:33%;
}

.controls-left .articulations button span.ribbon-button-text {
	font-size:2em;
}
.controls-left button span.ribbon-button-hotkey {
	position:absolute;
	right: 4px;
	top: 20%;
}

.bugDialog {
	position:absolute;
	width:80%;
	height:70%;
    width:40%;
	height:40%;
	left:30%;
	top:10%;
	background: #fff;
	z-index: 9;
	border: 1px red dashed;
	display:none;
}

.splashScreen .bugDialog {
	position:absolute;
    width:40%;
	height:40%;
	left:30%;
	top:10%;
	border:3px blue inset;
	background: #fff;
	padding:100px 10px;
	z-index: 9;
}

.splashScreen .splash-title {
    font-size: 3em;
	font-family: sans-serif;
	font-style:default;
}
.splashScreen .splash-shine {
    font-size: 3em;
	font-family: sans-serif;
	font-style:italic;
}

.button-container {
	margin-left:10px;
}
.bug-dismiss-button {
	position:absolute;
	right:0px;
	top:0px;
	color:red;
}
#bug-text-area {
    display: block;
    width: 80%;
    height: 60%;
    border: block solid 1px;
    font-family: monospace;
    border: black solid 1px;
    margin: 10px;
	overflow-y: scroll;
}

.bug-submit-report {
	margin-left:10px;
}

.bug-modal {
	width:100%;
	height:100%;
	margin:10px;
}

.svg-debug-box {
	font-size:0.55em;
	fill:#99e;
}
.measure-adjust-dbg text {
	fill:#492;
	font-size:1em;
}
.measure-adjust-dbg line {
	stroke:#492;
	stroke-width:2;
}
.measure-note-dbg line {
	stroke:#fc9;
	stroke-width:1;
}
.measure-note-dbg text {
	display:none;
	fill:#774422;
}
.measure-render-dbg text {
	fill:#933;
	font-size:1em;
}
.measure-render-dbg line{
	stroke:#e99;
	stroke-width:1;
}
.measure-place-dbg text {
	fill:#9d9dee;
}

.measure-place-dbg line {
	stroke:#9c9dee;
	stroke-width:2;
}

body.bugReport .bugDialog {
	display:block;
}

body.splashScreen .bugDialog {
	display:block;
}
.bug-logo {
	width:64px;
	height:64px;
	display:inline-block;

}

.controls-left .collapseParent ,
.controls-top .collapseParent {
	border-left:4px inset #44e;
}

.controls-top .collapseContainer .expandedChildren {
	font-size: 1.2em;
	height: 55px;
	top: -15px;
}

.controls-left .collapseContainer .expandedChildren {
	font-size: 1.2em;
	text-align:left;
	padding: 0;
	width: 80px;
	left: -5px;
}

.collapsed {
	display:none;
}

@media print {
    .controls-left,.controls-top,.testTitle {
       display:none;
    }

    .musicRelief {
        overflow:hidden;
    }
    .workspace {
        padding-top: 0;
        position:relative;
        padding-left: 0;
        background: #999;
    }
	.musicReliefShadow {
		display:none;
	}

}

body.printing .workspace-container {
    display:none;
}
body.printing .printFrame {
    display:block;
    overflow:visible;
}
.printFrame {
    display:none;
}
.printFrame iframe {
    background:#fff;
}

@media screen {
  	.musicRelief {
            overflow:auto;
    }
    .workspace {
        padding-top: 2px;
        position:relative;
        padding-left: 120px;
        background: #999;
    }
}

.controls-left .expanded {
	display:block;
}

.controls-top .expanded {
	display:inline-block;
}

.controls-left  button:hover,controls-left button:focus,
.controls-top  button:hover,controls-left button:focus{
	border:2px blue solid;
	border-radius:3px;
	opacity:0.7;
}

.musicRelief {
	background:#999;

}
.workspace-container {
	background:#999;
}



.saveLink {
    display:none;
}

.musicContainer {
    position: relative;
	background:#fff;
}
.musicContainer svg {
	/* transform:scale(0.7,0.7);  */
	width:100%;
	height:100%;
	overflow:visible;
}

.menuElement {
	position:absolute;
	list-style:none;
    z-index: 13;
    background: #fff;
	padding:0;
}

.menuOption {
	width:200px;
	height:50px;
	padding:0;
	position:relative;
	background:#fff;
}

.menuOption .menuText {
    display:block;
    flex:3;
}

.menuOption .icon {
    display:block;
    flex:1;
}

.menuOption .menuKey {
    flex:1;
    display:block;
}
.menuElement 	.menuOption button:focus-within {
	background:#ccf;
	border:2px green solid;
	font-weight: bold;
}

.menuElement .menuOption button {
	width: 100%;
    height: 100%;
	font-size: 1em;
    display:flex;
    flex-flow:row;
}

.overlay {
	display:none;
}

.separator {
	width:15px;
	/* text-align: center; */
	display: inline-block;
	font-weight: bold;
	text-justify:center;
}

body.modal .overlay,body.showAttributeDialog .overlay {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	z-index:2;
    opacity: 0.2;
	background: #333;
}

.helpDialog {
	display:none;
}

button.icon-cross.close {
	color:red;
	font-weight:bold;
	position:absolute;
	font-size: 1.2em;
	top:0;
	right: 0;
}

button.icon-cross.close:focus,button.icon-cross.close:hover {
	border:2px solid blue;
}

body.showHelpDialog .helpDialog {
	display:block;
	position:absolute;
	z-index: 5;
	background: #eef;
	right:0;
	margin: 8px;
	min-width:350px;
	top: 35px;
	padding: 10px;
	border: 1px dashed #334;
	/* border-radius: 5px; */
}

.helpLine {
	margin-bottom:15px;
}

.help-title span.icon {
	font-size:.6em;
	position:absolute;
	left: 3px;
	border: 1px black solid;
}

button.help-title:focus {
	outline:none;
}

.helpLine .keyBlock {
	display:none;
}

.helpLine.showSection .keyBlock {
	display:block;
}

.helpLine .help-title {
	background: #eef;
	text-align: left;
	border: none;
	width: 80%;
	border-bottom: 1px black dotted;
}
.helpKey {
    border: 1px solid #222;
    border-radius: 4px;
    width: 30px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    margin-right: 5px;
}

.keyBlock {
	margin-top: 5px;
}

.no-border {
	border:0;
}


.helpKey.help-ellipsis {
	margin-left: -5px;
	border:0;
	width: 5px;
}

.keyContainer {
	width: 270px;
	display:inline-block;
}

.keyBlock label {
	margin-left:7px;
	margin-right:7px;
}

body.showAttributeDialog .attributeDialog {
	display:block;
	z-index:3;
}

.attributeDialog {
	position:relative;
	display:none;
}

.attributeModal {
	position:absolute;
    width:380px;
	background: #fff;
	border-style: groove;
	border-width: 2px;
	border-color: #9ac;
	padding: 3px;
}

.attributeModal .buttonContainer {
	margin:10px;
}

.attributeModal .buttonContainer .button-left {
	margin-right:5px;
}
.attributeModal .buttonContainer .button-center {
	margin-right:5px;
	margin-left:5px;
}

.attributeModal .buttonContainer .button-right {
	margin-left:5px;
}


.attributeModal .buttonContainer button {
	border-radius:3px;
	padding: 2px 4px;
	width:100px;
	height:25px;
}

.attributeModal .buttonContainer .ok-button {
	border:#9cee9d 1px ridge;
}

.attributeModal .buttonContainer .ok-button:hover {
	background:#334488;
	color: #fff;
	transition-duration: 0.5s;
	transition-timing-function:ease;
}

.attributeModal .buttonContainer .cancel-button:hover {
	background:#884433;
	color: #fff;
	transition-duration: 0.5s;
	transition-timing-function:ease;
}

.attributeModal .buttonContainer .remove-button:hover {
	background:#664433;
	color: #ded;
	transition-duration: 0.5s;
	transition-timing-function:ease;
}

.attributeModal .buttonContainer .remove-button:hover .icon-cancel-circle  {
	background:#664433;
	color: #ded;
}

.attributeModal .buttonContainer .remove-button .icon-cancel-circle {
	float:left;
	color:#933;
}

.attributeModal .buttonContainer .ok-button:hover {
	background:#334488;
	color: #fff;
	transition-duration: 0.5s;
	transition-timing-function:ease;
}


.attributeModal .buttonContainer .cancel-button {
	border:#dc8899 1px ridge;
}

.attributeModal .buttonContainer .remove-button {
	border:#dc8899 1px ridge;
}


.attributeModal h2 {
	text-align:center;
	font-size:1.2em;
}

.attributeModal.tempoTextMode #dialog-tempo-duration,
.attributeModal.tempoTextMode #dialog-tempo-bpm ,
.attributeModal.tempoDurationMode #dialog-tempo-tempoText {
	display:none;
}

#attr-modal-dialog-dialog-tempo .smoControlContainer select {
    margin-left:66px;
    width:150px;
}

#attr-modal-dialog-dialog-tempo .smoControlContainer .rockerControl label,
#attr-modal-dialog-dialog-tempo .smoControlContainer .dropdownControl label {
    margin-left:15px;
}

#attr-modal-dialog-dialog-tempo .smoControlContainer .toggleControl input {
    margin-left:64px;
    height:auto;
}
#attr-modal-dialog-dialog-tempo .smoControlContainer .toggleControl label {
    margin-left:15px;
}
#attr-modal-dialog-dialog-tempo .smoControlContainer input.rockerInput {
    width:150px;
}


.attributeModal #dialog-layout-pageWidth,
.attributeModal #dialog-layout-pageHeight {
	display:none;
}

.attributeModal #dialog-layout-pageWidth,
.attributeModal #dialog-layout-pageHeight {
	display:none;
}

.attributeModal.customPage #dialog-layout-pageWidth,
.attributeModal.customPage #dialog-layout-pageHeight {
	display:block;
}


.buttonContainer {
	text-align:center;
	margin-top:3px;
}

.buttonContainer button {
	margin-right:5px;
}

.attributeModal .smoControlContainer {
    display:flex;
    flex-flow: row wrap;
}

.attributeModal .smoControl {
	margin-top:5px;
	margin-bottom:5px;
}

.smoControl button, .smoControl input,.smoControl select {
	margin-right:2px;
	height: 30px;
	border-radius: 5%;
	border: 1px solid #52ba73;
}

.smoControl.cbTextInPlace,.smoControl.cbDragTextDialog ,.smoControl.cbResizeTextBox  {
    position:relative;
    min-width:110px;
}

.cbTextInPlace button span.icon-checkmark {
    color:#9b9;
}

.smoControl select label {
    margin-left:5px;
}
.smoControl.rockerControl[data-param="fontSize"] input {
    width:50px;
}
.smoControl.cbTextInPlace button,.smoControl.cbDragTextDialog button,
.smoControl.cbResizeTextBox button
 {
    width:32px;
}
.smoControl.cbTextInPlace label, .smoControl.cbDragTextDialog label,
.smoControl.cbResizeTextBox label{
    position:absolute;
    top:5px;
    left:35px;
}

.smoControl.cbTextInPlace span.icon {
    font-size:1.6em;
}

.rockerControl button {
	width:32px;
}

.rockerControl button.decrement {
	margin-right:5px;
}

.dropdownControl select {
	margin-left: 7px;
	height: 30px;
	border-radius: 5%;
	border: 1px solid #52ba73;
}
