/* tree styles inspired by https://github.com/xotonic/flex-tree  */

p.tree,
ul.tree,
ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tree {
  border: 2px green inset;
  padding: 10px;
  margin-left: 15px;
}

ul.tree ul {
  margin-left: 1.0em;
}

ul.tree li {
  margin-left: 0.35em;
  border-left: thin solid #000;
  color: #369;
  font-weight: bold;
  line-height:1.5em;
}

ul.tree li:last-child {
  border-left: none;
}

div.center-flex {
  justify-content: center;
}
ul.tree li:before {
  width: 0.9em;
  height: 0.6em;
  margin-right: 0.1em;
  vertical-align: top;
  border-bottom: thin solid #000;
  content: "";
  display: inline-block;
}
ul.tree li {
  max-height: 350px;
  overflow: auto;
}

ul.tree span.file-type {
  margin-left:8px;
}

ul.tree li:last-child:before {
  border-left: thin solid #000;
}

ul.tree li.selected>a {
  background: #CDFEAA;
}

li.collapsed ul {
  display: none;
}
a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  background: #AAFE9E;
}

ul.tree button.expander {
  display: none;
  font-size: 0.6em;
  padding: 1px 4px;
  height: 20px;
}

ul.tree button.expander.expanded, ul.tree button.expander.collapsed {
  display: inline-block;
}
